<h2>Edit Your Farmer Page</h2>

<% if current_user.farmer_access == true && current_user.id == @farmer.user_id %>
	<%= render 'form' %>
<% else %>
<p>
	This Farmer's Page does not belong to you.
</p>
<% end %>

<%= link_to 'Delete your Farmer Page', "/markets/#{@farmer.market_id}/farmers/#{@farmer.id}",
method: :delete,
data: {confirm: 'Are you sure?!?!'} %>
<%= link_to 'Back', markets_path %>
