<% if current_user.farmer_access == true %>
<div class="main-section">
	<div class="main-heading">
		<h2>Make a new Farmer Page</h2>
	</div>

	<%= render 'form' %>
<% else %>
	<p>
		You need to be a Farmer to have a Farmer page. Contact the admin if you are encountering this message in error.
	</p>
<% end %>

<footer>
	<div class="nav-bot">
		<%= link_to 'Back to the Markets', markets_path %>
	</div>
</footer>
